html {
    background-image: url('assets/bg1.png');
    background-color: #FFFFF3;
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
}

#main-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;

}

h1{
    height:150px;
    width: 90%;
    font-family: 'Bebas Neue', cursive;
    grid-row:2;
    grid-column:1;
    margin:auto;
    white-space: nowrap;
    color: #88393d;
    
}

img{
    width:50%;
    border-radius:50%;
    grid-column:1;
    grid-row:1;

    margin:auto;
}

p{
    width:90%;
    font-size:1.3em;
    text-align: justify;
    font-family: 'Source Code Pro', monospace;
    grid-row:1;
    grid-column: 2;
    color: #433e5c;
}

div{
    margin:5em 0 5em 0;
    display:grid;
}

h6 {
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    color: #9d9bb0;
}

#new-york-div{
    margin-top:1100px;
}